.up{
    opacity: 0;
    transition: all 1s ease;
  }
   
.up.show {
    opacity: 1;
    transform: none;
  }
   
.op{
    transform: translate(0, 20px);
  }


.rotate-menu-to-open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-top: 0px;
  transition-duration: 0.5s;
  width: 32px;
}
.rotate-menu-to-close {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  padding-top: 0px;
  transition-duration: 0.7s;
  width: 32px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}