/*
 *
 * base
 *
 */
 :root {
  --themecolor: #000;
  --basecolor:#6a6a7f; 
  --subcolor: #9b9ba9;
  --subhr: #eeeeff;
  --serif: "Playfair",  serif;
  --sansserif: "ClarikaProGeo-Lt", sans-serif;
  --sansserifbold:'Heebo', sans-serif;
}
/* sans-serif: , "ClarikaProGeo-Md" */
@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url("../webFonts/ClarikaProGeoLt/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoLt/font.woff") format("woff"); }
@font-face {
  font-family: "ClarikaProGeo-Md";
  src: url("../webFonts/ClarikaProGeoMd/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoMd/font.woff") format("woff"); }

  /*
   *
   * type
   *
   */
body {
  font-family: var(--serif); 
  font-weight: 300;
  font-size: 13px;
  color: var(--basecolor) }
a, a:visited, a:active {
  color:  var(--basecolor);
  text-decoration: none;
  border-bottom: 1px solid var(--basecolor)}
a:hover {
  color: var(--themecolor);
  border-bottom:1px sold var(--themecolor)}

h1 {font-family: var(--serif);}
h2 {font-family: var(--serif);}
/* yukino kohmoto */ 
h3 {
  font-family: var(--serif);
  font-size: 18px;
  color: var(--themecolor);  
  font-weight: 400;
  margin-top: 0; 
  float: left;}
/* title cv */
h4 {
  font-family:  var(--serif);
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: var(--themecolor);
  margin: 48px 0 6px 0;}
h4 a, h4 a:visited,h4 a:active {
  text-decoration: none;
  border-bottom: none}  
/* insta */  
h5 {
  font-family: var(--serif);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: var(--themecolor); 
}
h5 a, h5 a:visited,h5 a:active {
  color: var(--themecolor);
  text-decoration: none;
  border-bottom: none}


.sub{
  font-family: var(--sansserif);
  color: var(--subcolor);
  margin-top:8px;
  font-size: 13px;
}  
.sub a, .sub a:visited, .sub a:active {
  color:  var(--subcolor);
  text-decoration: none;
  border-bottom: none}
ul.no-bulletpoint {
  list-style-type: none;
  line-height: 24px; 
  margin:0;
  padding:0;}

footer{
  border-top: solid var(--subhr) 1px;
}


/*
 *
 *  layout
 *
 */
body {width: 100%; margin: 0; }
.full {width: 100%; margin: 0; padding: 0; }
.clear {clear: both; display: inline-block; }
.mt-2 {
  margin-top: 16px; }


/* Small devices (phones, 776px and down) */
@media only screen and (max-width: 776px) {
  .s-container {
    margin: 0px 32px;
    padding: 32px 0px; }
  .s-full {
    width: 100%;
    float: left;}
  .s-half {
    width: 47%;
    float: left; }
  .s-hide {
    display: none; }
 }
/* full (portrait tablets and large phones, 776px and up) */
@media only screen and (min-width: 776px) {
  .l-container-top {
    margin: 32px 150px; }
  .l-container-body {
    margin: 100px 150px; }
  .l-container{
    margin: 64px;}
  .l-half {
    width: 47%;
    float: left;
    padding-right: 16px; }
  .l-col2 {
    width: 92px;
    float: left;
    padding-right: 16px;
    display: flex; }
  .l-col3 {
    width: 178px;
    float: left;
    padding-right: 16px;
    display: flex; }
  .l-col4 {
    width: 216px;
    float: left;
    padding-right: 16px;
    margin:  0 16px 0 0; }
  .l-col6 {
    width: 348px;
    float: left;
    padding-right: 16px;
    margin:  0 16px 0 0; }
  .l-col8 {
    width: 460px;
    float: left;
    padding-right: 16px;
    margin: 0 16px 0 0; }
  .l-col10 {
    width: 552px;
    float: left;
    padding-right: 16px;
    margin: 0 16px 0 0; }
  .l-col12 {
    width: 712px;
    float: inherit;
    margin: 0 auto;
    display: flex; }
}