@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url("../webFonts/ClarikaProGeoLt/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoLt/font.woff") format("woff"); }

/*
 * base
 */

body {  
  width: 100%;
  margin: 0; 
  color: #2B2A40;
  font-family: "ClarikaProGeo-Lt", sans-serif;    
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 14px; }

  h5 {
    font-family: "ClarikaProGeo-Lt", sans-serif;

    font-style: normal;
    font-size: 0.8em;
    color: #2B2A40; }

a, a:visited, a:active {
    text-decoration: none;}
  
a:hover {
  color: #2B2A40; }

.center {
  text-align: center; }


/*
 *  Type
 */

 h3 {
  font-family: "ClarikaProGeo-Lt", sans-serif;
  font-size: 20px;
  margin-top: 0; }

/*
 * bullet point
 */
 ul.no-bullet {
  list-style-type: none;
  padding: 0;}

/*
 *  layout
 */
.full {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.container {
  width: 100%;
  padding: 32px; }

.p1 {
  padding: 16px; }

.p2 {
  padding: 32px; }

.ph-1 {
  padding: 0 16px; }

.ph-2 {
  padding: 0 32px; }

.pv-1 {
  padding: 16px 0; }

.pv-2 {
  padding: 32px 0; }

.m0 {
  margin:0;}
.m1{
  margin: 16px;
}

.m2 {
  margin: 32px; }

.mr-1 {
  margin-right: 16px; }

.mt-1 {
  margin-top: 16px; }

.mt-2 {
  margin-top: 32px; }

.clear {
  clear: both;
  display: inline-block; }

.center{
  margin: 0 auto}

/* Extra small devices (phones, 776px and down) */
@media only screen and (max-width: 776px) {
  .s-full {
    width: 100%;
    margin: 16px auto; }
  
  .s-hide{
    display: none;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 776px) {
  .l-full {
    width: 100%;
    margin: 0;}
    
  .l-col2 {
    width: 92px;
    float: left;
    padding-right: 16px;
    display: flex; }

  .l-col4 {
    width: 216px;
    float: left;
    padding-right: 16px;
    margin: 0 16px; }

  .l-col4-r {
    width: 216px;
    float: right;
    padding-right: 16px;
    margin: 0 16px; }

  .l-col6 {
    width: 348px;
    float: left;
    padding-right: 16px;
    margin: 0 16px; }

  .l-col6-r {
    width: 348px;
    float: right;
    padding-right: 32px;
    margin: 0 16px; }

  .l-col8 {
    width: 460px;
    float: left;
    padding-right: 16px;
    margin: 0 16px; }
  
  .l-col12 {
    width: 712px;
    float: inherit;
    margin: 0 auto;
    display: flex; }
    
  .l-col12-l {
    width: 712px;
    float: left;
    margin: 0 16px;
    display: flex; }

  .l-hide{
    display: none;}
  
}


