/*
 * base color
   theme; previous #06aBbE
 */
 :root {
  --theme: #000;
  --highlight: #06aBbE;
  --paper: #faf5f5;
  --paper1: #f7f9fa;
  --sub: #898887;
}
/*
 * type
 */
@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url("../webFonts/ClarikaProGeoLt/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoLt/font.woff") format("woff"); }
@font-face {
  font-family: "ClarikaProGeo-Md";
  src: url("../webFonts/ClarikaProGeoMd/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoMd/font.woff") format("woff"); }

body {
  font-family: "ClarikaProGeo-Lt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9em;
  color: #2B2A40; }

a, a:visited, a:active {
  color: #2B2A40;
  text-decoration: none;
  border-bottom: 1px solid var(--theme);   }
a:hover {
  border-bottom: 1px solid #017597; }

/* hello, I enjoy */ 
h1 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  color: var(--highlight);   }

/* project introduction title*/  
h2 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 44px;
  color: var(--theme);  
  line-height: 46px;
  margin: 80px 0; }

/* yukino kohmoto */ 
h3 {
  font-family: "ClarikaProGeo-Lt", sans-serif;
  font-size: 18px;
  color: var(--theme);  
  font-weight: 600;
  margin-top: 0; 
  float: left;}

/* project (sub) title  */  
h4 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 34px;
  color: #000;
  margin: 40px 0; }

/* cv title */
h5 {
  font-family: "ClarikaProGeo-Lt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: var(--theme);   }

a.footer, a.footer:visited, a.footer:active {
  color: var(--sub);
  text-decoration: none;
  border-bottom: none; }
a.footer:hover {
  color: #2B2A40; }

/* list */
/* role in project */
ul.b {
  margin: 0 0 0 16px;
  padding: 0;
  line-height: 1.5em;}

/* talks */
ul.n-b-p {
  list-style-type: none;
  margin: 0;
  padding: 0;}

/* cv */
ul.n-b-tab {
    list-style-type: none;
    margin: 0 0 0 16px;
    padding: 0;
    line-height: 1.5em;}

span.label {
  display: inline-block;
  width: 72px; }
/* Extra small devices (phones, 776px and down) */
@media only screen and (max-width: 776px) {  
  ul.n-b-p {
    line-height: 48px; }
}
/* Small devices (portrait tablets and large phones, 776px and up) */
@media only screen and (min-width: 776px) {
  ul.n-b-p {
    line-height: 1.5em; } 
}

/*
 * color
 */
 .sub {
  color: var(--sub)}
 .color_y {
  color: var(--theme);   } 
.bg-paper {
  background-color: var(--paper); }
.bg-paper1 {
  background-color: var(--paper1); }
.bg-simeji{
  background: linear-gradient(to bottom,  #FFDA4B,  #F7F5F2 90%, var(--paper));
  /* background-color: #FFDA4B; */
  /* background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8); */
}
.title-simeji{
  color: #2B2A40;;
}
.bg-white{
  background-color: #fff;}
.bg-hexagon{
  background: linear-gradient(to bottom,  var(--paper),  #F7F5F2 90%, var(--paper));
  /* background-color: #EE766B; */
}
.title{
  color: #000;
}
.title-urban{
  color:#fff;
}

/* menu */
.header-burger{
  width: 50px;
  float: right;
  color: var(--sub);
  cursor: pointer;
}
.menu-icon{
  width: 18px;
}