
/* menu */
.header-burger{
  width: 50px;
  float: left;
  color: var(--sub);
  cursor: pointer;
}

.menu-style{
  float:left;
  margin: 20px 20px 0 0;
  width: 32px;
}
.hidden{
  display:none;
}
.on{
  display:block;
}
/* Small devices (phones, 776px and down) */
@media only screen and (max-width: 776px) {
  .s-title {
    margin: 150px 16px 150px 32px; }
 }
/* full (portrait tablets and large phones, 776px and up) */
@media only screen and (min-width: 776px) {
  .l-title {
    margin: 60px;
    display: inline-block; }
}
