/*
 * layout
 */
 body{
   width:100%;
   margin: 0 auto;
 }
 .p1{padding: 16px;}
 .p2{padding: 32px;}
 .p1-h{padding: 0 16px;}
 .p2-h{padding: 0 32px;}
 .p1-v{padding: 16 0px;}
 .p2-v{padding: 32 0px;}

header div b {
    float: left;
    width: 90px;
}
ul.no-bullets{
  list-style-type: none;
}

.full{width: 100%; margin:0 auto; padding: 0;}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.s-container{width: 100%; margin: 32px;}
  .s-hide{display: none;}
  .s-half{width: 47%; padding: 16px}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 776px) {
  .l-col4{width: 216px; float: left;padding: 16px}
  .l-col4{width: 216px; float: left;padding: 16px}
  .example {background: green;}
}

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col1{width:60px;}
  .col4{width:336px;}
  .col6{width:520px;}
  .col12{width:10px;}
  .example {background: black;}
}
