$color_base: #191b1a;
$color_base_title: #9a9a9f;
$color_base_sub: #adadaf;
$color_quote: #191b1a;
$color_subtle: #e9e9eb;

$font_base_mobile: 12px;
$font_base_pc: 16px;

$spacer: 10px;


@import url(https//weloveiconfonts.com/api/?family=fontelico);



/*
 * Base and Layout
 */
body {
  margin: 15px 0;
  color: $color_base;
  padding: 0;
  /* user double quotes */
  font-family: "Open+Sans", "Universe", "Helvetica", sans-serif;
}


/* better to use class over IDs */
.site {
  margin: 0;
  padding: 0;
}



.mb-1 {
  margin-bottom: $spacer;
}

.mb-2 {
  margin-bottom: ($spacer * 2);
}

.ml-1 {
  margin-left: $spacer;
}

.mr-1 {
  margin-right: $spacer;
}


a:link, 
a:hover,
a:visited {
  color: $color_base;
  text-decoration: underline;
}


 // add this class to "row"  to remove guttter
.no-gutter > [class*='col-']  {
  padding-right: 0;
  padding-left: 0;
}


/*
 * Typography
 */
h1 {
  font-size: 20px;
  font-weight: 300;
}


h2 {
  margin-top: 34px;
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 300;
  color: $color_base_title;
}


h3 {
  font-size: 22px;
  font-weight: 300;
}


h5 {
  color: $color_base_title;
}


h5 a:link,
h5 a:visited {
  color: $color_base_title;
}


/*
 * Section
 */
/* Header */
header {
  // Adjusted to afflix scroll
  top: -5px;
  margin-top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0px 10px 14px -5px rgba(224,224,224,0.35);
  -moz-box-shadow: 0px 10px 14px -5px rgba(224,224,224,0.35);
  box-shadow: 0px 10px 14px -5px rgba(224,224,224,0.35);
}


.header-logo {
  padding-top: 15px;
  height: 56px;
}


/* section top */
.top-quote {
  color: $color_quote;
  font-size: $font_base_pc;
  top: 155px;
  right: 20px;
  z-index: 1;
  position: absolute;
} 
.top-img{
  width: 100%;
  z-index: 0;
  position: relative;
}


@media screen and (max-width: 530px) {
  .top-quote {
    font-size: $font_base_mobile;
    top: 140px;
  }
}



/* footer */
footer {
  color: $color_base_sub;
}


footer a:link,
footer a:visited {
  color: $color_base_sub;
  text-decoration: none;
}


footer a:hover {
  color: $color_base;
}
