$color_test1: #efefef;
$color_test2: #dfdfdf;
$color_base: #2B2A40;
$color_sub1: #898887;
$color_sub2: #C3C1C2;
$color_y: #06aBbE;
$color_y_hover: #017597;
$color_paper: #faf5f5;
/* pink: #E9C5BD green1: 4ED9B9; green2: 07CBCE */

@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url('../webFonts/ClarikaProGeoLt/font.woff2') format('woff2'), url('../webFonts/ClarikaProGeoLt/font.woff') format('woff');
}

$font_title:'Lora', serif; //'Arbutus Slab', serif;
$font_title_weight: 500;
$font_title_style: normal;
$font_body: "ClarikaProGeo-Lt", sans-serif;
$font_body_space: 0.04em;
$font_body_size: 18px;
$font_sub_size: 0.8em;
$font_sub_lineheight: 1.5em;
$font_sub_lineheight_mobile: 48px;
$sp1: 16px;
$sp2: 32px;
/*
 * test
 */
 .test-mark1{background-color: $color_test1;}
 .test-mark2{background-color: $color_test2;}
/*
 * base
 */
body{
  color: $color_base;
  font-family: $font_body;
  letter-spacing: $font_body_space;
  font-size: $font_body_size;}
ul.b{margin: 0 0 0 16px; padding: 0;line-height: $font_sub_lineheight;
    font-family: $font_body; font-size: $font_sub_size;}
ul.n-b{list-style-type: none; margin: 0; padding: 0;line-height: $font_sub_lineheight;
  font-family: $font_body; font-size: $font_sub_size;}
ul.n-b-p{list-style-type: none; margin: 0; padding: 0;
    font-family: $font_body; font-size: $font_sub_size;}
.bg-paper{background-color: $color_paper;}
.color_y{color:$color_y;}

/*
 * type
 */
h1{font-family: $font_title; font-weight: $font_title_weight; font-style: $font_title_style;
  font-size: 48px; color: $color_y;}
h2{font-family: $font_title; font-size: 24px; color: $color_y;line-height:36px;}
h3{font-family: $font_body; font-size: $font_body_size; color: $color_y;
   margin-top: 0;}
h4{font-family: $font_title; font-weight: $font_title_weight; font-style: $font_title_style;
  font-size: $font_body_size; color: $color_y; margin: 40px 0 20px 0}
h5{font-family: $font_body; font-weight: $font_title_weight; font-style: $font_title_style;
  font-size: $font_sub_size; color: $color_base;}
.sub{color: $color_sub1;font-family: $font_body; font-size: $font_sub_size;}
.center{text-align: center;}
a, a:visited, a:active{
  color: $color_base; text-decoration: none;
  border-bottom: 1px solid $color_y}
  a:hover{border-bottom: 1px solid $color_y_hover;}
h2 a, h2 a:visited,h2 a:active{color: $color_y;text-decoration: none;
      border-bottom: 1px solid $color_y}
  h2 a:hover{color: $color_y_hover;}
a.sub, a.sub:visited, a.sub:active{color: $color_sub1;text-decoration: none;
  border-bottom: 1px solid $color_y}
  a.sub:hover{color:$color_base;}
a.footer, a.footer:visited, a.footer:active{color: $color_sub1;text-decoration: none; border-bottom: none;}
  a.footer:hover{color: $color_base;}
.more{color: $color_y}
/*
 *  layout
 */
 body{
   width:100%; margin: 0;
 }
 .p1{padding: $sp1}
 .p2{padding: $sp2}
 .ph-1{padding: 0 $sp1;}
 .ph-2{padding: 0 $sp2;}
 .pv-1{padding: $sp1 0;}
 .pv-2{padding: $sp2 0;}
 .m2{margin:  $sp2;}
 .mr-1{margin-right: $sp1;}
 .mt-2{margin-top: $sp2;}

 span.label{display: inline-block; width: 72px;}
 .full{width: 100%; margin:0; padding: 0;}
 .container{width: 100%; padding:$sp2;}
 .clear{clear: both;display: inline-block;}

  /* Extra small devices (phones, 776px and down) */
 @media only screen and (max-width: 776px) {
 .s-title{margin:150px $sp1 150px 0;}
 .s-intro{margin: 30px $sp1 0 0; padding-right: $sp2;}
 .s-full{width: 100%; float:left; margin: 0 auto;}

 .s-full-img{width: 90%; float:left; margin: 0 auto;}
 .s-half{width: 47%; float:left;}
 .s-hide{display: none;}
 ul.n-b-p{line-height: $font_sub_lineheight_mobile;}
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 776px) {
 .l-title{margin: 150px; display: inline-block;}
 .l-intro{margin: 0 150px;}
 .l-full{width: 100%; margin: 0 auto; padding: $sp1; }
 .l-half{width: 47%; float: left; padding-right: $sp1;}
 .l-col12{width: 712px;float: inherit; margin: 0 auto; display: flex;}
 .l-col2{width: 92px; float: left;padding-right: $sp1; display: flex;}
 .l-col4{width: 216px; float: left; padding-right: $sp1; margin: 0 $sp1;}
 .l-col6{width: 348px; float: left; padding-right: $sp1;margin: 0 $sp1;}
 .l-col8{width: 460px; float: left; padding-right: $sp1;margin: 0 $sp1;}
 .l-col4-r{width: 216px; float: right; padding-right: $sp1; margin: 0 $sp1;}
 .l-col6-r{width: 348px; float: right;padding-right: $sp2; margin: 0 $sp1;}
 ul.n-b-p{line-height: $font_sub_lineheight;}
 }
 /* Large devices (laptops/desktops, 992px and up) */
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
 }
