@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url("../webFonts/ClarikaProGeoLt/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoLt/font.woff") format("woff"); }
@font-face {
  font-family: "ClarikaProGeo-Md";
  src: url("../webFonts/ClarikaProGeoMd/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoMd/font.woff") format("woff"); }
  
/*
 * base
 */
 .jp{
  font-size: 0.8em;}
a, a:visited, a:active {
  text-decoration: none;}
.right{
  text-align: right;}
.center{
  text-align: center;}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
  

/*
 *  Type
 */
 /* Space title */
 h3 {
  font-family: "ClarikaProGeo-Md", sans-serif;
  font-size: 20px;
  margin-top: 0; 
  font-weight: 100;
  }





