/*
 * font
 */
body {  
  color: #5c5c5c;
  font-family: 'Source Sans Pro', sans-serif;    
  font-weight: 300;
  letter-spacing: 0.04em;
  font-size: 14px; }

/*
 * base
 */
:root {
  --calendar: #fff;
  --calendar-header: #131AD7;
  --calendar-today: #F36158;
  --calendar-navi: #F36158;
}

.bg-header{
  background-color: #eeeeee;
 }
.bg-paper {
  background-color: var(--calendar) }
h3{
  color: #5C5C5C;}
a, a:visited, a:active {
  color: #3A3E2F;}
a:hover{
  color: #000;}

/* footer color */
footer-ref{
  color: #787878;}
footer{
  color: #4b4b4b;}
a.footer, a.footer:visited, a.footer:active {
  color: #787878;}
a.footer:hover{
  color: #fff;}


  /* calendar common */
.c1-top{
  background-color: var(--calendar-header) ;
  height: 48px;
  width:100%;
  padding:0;
}
#c1-calendar{
  color: #000;
}
.c1-day-today{
  background-color: var(--calendar-today) ;
  border-radius: 50%;
  display: inline-block;
}
 
.c1-unit{
  font-weight: 200;
  color: var(--calendar-navi) ;
  margin: 0;
  padding: 12px 16px;
  font-size: 18px;
  height: 23px;
  vertical-align: middle;
  display: flex;
}
.today{
  font-weight: 400;
  text-decoration: underline;
}

/* century */

.c1-c-calendar{
  padding: 32px;
}
.c1-c-year{ 
  font-weight: 100;
  margin: 0;
  width:100%;
}
.c1-c-year-name{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  width: 100;
 }


.c1-c-month{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 2px;
  margin-top: 0px;
}
.c1-c-month-name{
 color: #8b8b8b;
 font-size: 10px;
 font-weight: 400;
}
.c1-c-week{
  padding: 0px 0px 6px 0px;
}
.c1-c-day{
  font-size: 4px;
  margin: 0px 2px 0px 0px;
  padding: 0;
  color: #8b8b8b;
  font-weight:100;
  float: left;
  width: 4px;
  height: 4px;
  text-align: center;
}

.c1-c-day-padding-0{margin-left:0}
.c1-c-day-padding-1{margin-left:6px}
.c1-c-day-padding-2{margin-left:12px}
.c1-c-day-padding-3{margin-left:18px}
.c1-c-day-padding-4{margin-left:24px}
.c1-c-day-padding-5{margin-left:30px}
.c1-c-day-padding-6{margin-left:36px}


/* DECADE */
.c1-d-calendar{
  padding: 32px;
}
.c1-d-year{ 
  font-weight: 400;
  margin: 0;
  width:100%;
}
.c1-d-year-name{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  width: 100;
 }


.c1-d-month{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 2px;
  margin-top: 6px;
}
.c1-d-month-name{
 color: #4d4d4d;
 font-size: 12px;
 font-weight: 400;
}
.c1-d-week{
  padding: 0px 0px 12px 0px;
}
.c1-d-day{
  font-size: 8px;
  margin: 0px 3px 0px 0px;
  padding: 0;
  color: #8b8b8b;
  font-weight:200;
  float: left;
  width: 8px;
  height: 8px;
  text-align: center;
}

.c1-d-day-padding-0{margin-left:0}
.c1-d-day-padding-1{margin-left:11px}
.c1-d-day-padding-2{margin-left:22px}
.c1-d-day-padding-3{margin-left:33px}
.c1-d-day-padding-4{margin-left:44px}
.c1-d-day-padding-5{margin-left:55px}
.c1-d-day-padding-6{margin-left:66px}

/* YEAR */

.c1-y-calendar{
  padding: 32px;
}
.c1-y-year{ 
  font-weight: 400;
  margin: 0 0 10px 0;
}

.c1-y-year-name{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  width: 100;
 }

.c1-y-month{
  width: 156px;
  height: 120px;
  float: left;
  margin-right: 0px;
  margin-top: 20px;
}
.c1-y-month-name{
 color: #000;
 font-size: 18px;
 font-weight: 400;
}
.c1-y-week{
  padding: 0px 0px 16px 0px;
}
.c1-y-day{
  font-size: 9px;
  margin: 0px 10px 0px 0px;
  padding: 0;
  color: #000;
  font-weight:400;
  float: left;
  width: 11px;
  height: 11px;
  text-align: center;
}

.c1-y-day-padding-0{margin-left:0}
.c1-y-day-padding-1{margin-left:21px}
.c1-y-day-padding-2{margin-left:42px}
.c1-y-day-padding-3{margin-left:63px}
.c1-y-day-padding-4{margin-left:84px}
.c1-y-day-padding-5{margin-left:105px}
.c1-y-day-padding-6{margin-left:126px}

/* month */


/* Small devices (phones, 776px and down) */
@media only screen and (max-width: 776px) {
  .c1-m-calendar{
    padding: 16px;
  }
  .c1-m-month-{
    float:left;
  }
  .c1-m-month-name{
    font-size: 28px;
    font-weight: 200;
    color: #8b8b8b;
  }
  .c1-m-week{
    padding: 0px 0px 60px 0px;
  }
  .c1-m-day{
    font-size: 22px;
    margin: 0px 14px 0px 0px;
    color: #8b8b8b;
    font-weight:400;
    float: left;
    width: 28px;
    height:28px;
    text-align: center;
  }
  .c1-m-date{
    color: #6b6b6b;
    font-weight:200;
  }

  .c1-m-day-padding-0{margin-left:0}
  .c1-m-day-padding-1{margin-left:42px}
  .c1-m-day-padding-2{margin-left:84px}
  .c1-m-day-padding-3{margin-left:126px}
  .c1-m-day-padding-4{margin-left:168px}
  .c1-m-day-padding-5{margin-left:210px}
  .c1-m-day-padding-6{margin-left:272px}
}
/* full (portrait tablets and large phones, 776px and up) */
@media only screen and (min-width: 776px) {
  .c1-m-calendar{
    padding: 32px;
  }
  .c1-m-month-{
    float:left;
  }
  .c1-m-month-name{
    font-size: 28px;
    font-weight: 200;
    color: #8b8b8b;
  }
  .c1-m-week{
    padding: 0px 0px 60px 0px;
  }
  .c1-m-day{
    font-size: 22px;
    margin: 0px 64px 0px 0px;
    color: #000;
    font-weight:400;
    float: left;
    width: 28px;
    height:28px;
    text-align: center;
  }
  .c1-m-date{
    color: #6b6b6b;
    font-weight:200;
  }
 
  .c1-m-day-padding-0{margin-left:0}
  .c1-m-day-padding-1{margin-left:92px}
  .c1-m-day-padding-2{margin-left:184px}
  .c1-m-day-padding-3{margin-left:276px}
  .c1-m-day-padding-4{margin-left:368px}
  .c1-m-day-padding-5{margin-left:460px}
  .c1-m-day-padding-6{margin-left:552px}
}
